node_modules
*.DS_Store
dist
coverage
**/.env
**/.env.local
**/.env.*.local
*.log
*.history
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Optional: Ignore build artifacts
build
src/mocks/db.ts

# Cypress artifacts
cypress/downloads
cypress/screenshots
cypress/videos
